.login{
    margin-top: 20px;
}
.btnLogin{
    width: 100%;
    padding: 18px 10px;
    background-color: #2B3A55;
    color: #F2E5E5;
    font-weight: bold;
    box-sizing: border-box;
    border: none;
}
.btnLoginWithGoogle{
    width: 100%;
    padding: 18px 10px;
    box-sizing: border-box;
    border: none;
    font-weight: bold;
    color: #69727E;
}
.btnLoginWithGoogle:hover{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #2B3A55;
    color: #F2E5E5;
}
.btnLoginWithFacebook{
    margin-top: 5px;
    width: 100%;
    padding: 18px 10px;
    box-sizing: border-box;
    border: none;
    font-weight: bold;
    color: #69727E;
}
.btnLoginWithFacebook:hover{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #2B3A55;
    color: #F2E5E5;
}
.inputField{
    display: block;
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 3px solid #ccc;;
    outline: none;
}
.inputField:focus{
    border: 3px solid #2B3A55;
}
