.cart{
    margin-top: 20px;
}
.btn-proceedToCheckout{
    margin-top: 7px;
    background-color: #2B3A55;
    padding: 10px;
    color: #F2E5E5;
    display: block;
    text-align: center;
    font-weight: bold;
}
.btn-proceedToCheckout:hover{
    color: #F2E5E5;  
}
.btn-cartRemove{
    color: rgb(107, 107, 107);
    margin-left: 30px;
}
.btn-cartRemove:hover{
    color: #CE7777;
}
.qty{
    width: 70px;
}
.checkOutDiv {   
    position: sticky;
    top: 250px;
    padding-top: 5px;
    padding: 5px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2)
}

