.hero-img{
    background-image: url('assets/hero_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.call-action{
    background-color: rgb(158, 138, 117);
    height: 150px;
}

.zoom img:hover{
    background-color: rgb(179, 169, 169);
    border-radius: 10px;
    transform: scale(1.1);
    box-shadow: 3px 2px 13px 2px;
    cursor: pointer;
}
.featured-products{
    margin-top: 150px;
    margin-bottom: 150px;
}
.new-arrival{
    margin-top: 150px;
    margin-bottom: 150px;
}
.best-sellers{
    margin-top: 150px;
    margin-bottom: 150px;
}
.footer{
    margin-top: 20px;
    background-color: rgb(158, 138, 117);
}

/* text overlay in the image for new arrival */
  .container-i{
    position: relative;
    font-family: Verdana;
    
  }
  .text-block{
    position: absolute;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.599);
    color: azure;
    padding: 15px ;
  }




  