.hero-img{
    background-image: url('assets/hero_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100vw; */
    height: 100vh;
}
.mintmade-online{
    margin-top: 20%;
    margin-left: 30px;
}
.sale{
    font-size: 90px;
    color: white;
}
.hr-hero{
    background-color: white;
    border: none;
    height: 3px;
}
.spring-sale{
    margin-top: 30px;
    margin-bottom: 30px;
}
.spring-sale-text{
    font-size: 40px;
}
col{
    background-color: aquamarine;
}
.physical-stores{
    background-image: url('assets/physical_stores.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 600px;
   
}
.physical-stores h1{
    font-size: 100px;
    margin-top: 150px;
    margin-left: 15px;
}
.location h1{
    margin-top: 0;
}
.need-anything{
    background-image: url('assets/need_anything.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100vw; */
    height: 100vh;
}
.need-anything-text{
    font-size: 40px;
}