.hero-img{
    background-image: url('assets/hero_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.new-arrival{
    height: 100vh;
}
.best-sellers{
    margin-top: 90px;
    height: 100vh;
}
.spring-sale-category{
    height: 100vh
}

.physical-stores{
    background-image: url('assets/physical_stores.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    margin-bottom: 220px;
}
.footer{
    margin-top: 20px;
    background-color: rgb(158, 138, 117);
}