.product{
    margin-top: 20px;
}
.btn-addToCart{
    margin-top: 7px;
    width: 195px;
    background-color: black;
    padding: 10px;
    color: white;
    display: block;
    text-align: center;
}
.btn-addToCart:hover{
   
    color: white;
    
}

