.product{
    margin-top: 20px;
}
.btn-addToCart{
    margin-top: 7px;
    width: 395px;
    background-color: #2B3A55;
    padding: 10px;
    color: #F2E5E5;
    display: block;
    text-align: center;
}
.btn-addToCart:hover{
    color: #F2E5E5;
}
.choose-size{
    width: 195px;
    padding: 5px;
}
.enter-qty{
    width: 395px;
    margin-top: 5px;
    padding: 10px;
}

