.product{
    margin-top: 20px;
}
.btn-addToCart{
    margin-top: 7px;
    width: 100%;
    padding: 18px 10px;
    background-color: #2B3A55;
    color: #F2E5E5;
    font-weight: bold;
    box-sizing: border-box;
    border: none;
}
.btn-addToCart:hover{
    color: #F2E5E5;
}

.enter-qty{
    display: block;
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 3px solid #ccc;;
    outline: none;
}
.enter-qty:focus{
    border: 3px solid #2B3A55;
}

