
.checkout-form{
    width: 60%;
    padding: 6px 10px;
    margin: 3px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    display: block;
  }
  .checkout-form:focus {
    border: 3px solid rgb(0, 0, 0);
  }
  .promoCode{
    width: 83%;
    padding: 12px 10px;
    margin: 0px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    display: inline;
  }
  .btnpromoCode{
    background-color: #2B3A55;
    color: #F2E5E5;
    border: 3px solid #2B3A55;
    padding: 12px 10px;
  }
  .btncompleteOrdder{
    background-color: #2B3A55;
    color: #F2E5E5;
    font-weight: bold;
    width: 100%;
    padding: 12px 10px;
    border: none;
    outline: none;
  }
