.sticky-div {
    box-sizing: border-box;
    background-color: #FEFEFE;
    position: sticky;
    top: 0px;
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2)
}

.search{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.search:focus {
    border: 3px solid #2B3A55
  }
  
.navigationBar{
    margin-left: 10xp;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
.active-link{
    color:#2B3A55;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.active-link:hover{
    color:#2B3A55
}
.unactive-link{
    color: #69727E;
}
.unactive-link:hover{
    color: #2B3A55
}

.active-category-btn{
    
    padding: 10px;
    border-bottom: 2px solid #2B3A55;
    color: #2B3A55;
    font-weight: bold; 
    margin: 10px;
   
}
.active-category-btn:hover{
    padding: 10px;
    color: #2B3A55;
    font-weight: bold; 
}
.unactive-category-btn{
    padding: 10px;
    color: #2B3A55;
    font-weight: bold; 
    margin: 10px;
}
.unactive-category-btn:hover{
    color: #2B3A55;
    font-weight: bold; 
    
}

.navbar{
    float: right;
}
.getStarted{
    padding: 10px;
    background-color: #2B3A55;
    color: #F2E5E5;
    border-radius: 5px;
    margin: 15px;
}
.getStarted:hover{
    padding: 10px;
    color: #F2E5E5;
}
.logoHeader{
    padding: 10px;
    margin: 15px;
}

.btnSelectLogin{
    width: 100%;
    padding: 18px 10px;
    box-sizing: border-box;
    border: none;
    font-weight: bold;
    color: #69727E;
}
.btnSelectLogin:hover{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #2B3A55;
    color: #F2E5E5;
}
.signup_btn{
    border-style: groove;
    border-radius: 5px;
    padding: 10px 20px ;
    font-weight: bold;
}
.signup_btn:hover{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #2B3A55;
    color: #F2E5E5;
    border-radius: 5px;
}
.canvas{
    border-style: none;
    background-color: white;
}



