.sticky-div {
    background-color: #FEFEFE;
    position: sticky;
    top: 0px;
    padding-top: 15px;
}

.search{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.search:focus {
    border: 3px solid rgb(0, 0, 0);
  }
  
.navigationBar{
    margin-left: 10xp;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
.active-link{
    color:#13181B;
}
.active-link:hover{
    color:#13181B;
}
.unactive-link{
    color: #69727E;
}
.unactive-link:hover{
    color: #13181B;
}

.active-category-btn{
    background-color: #13181B;
    color: #FEFEFE;
    padding: 7px;

}
.active-category-btn:hover{
    color: #FEFEFE;
    padding: 7px;

}
.unactive-category-btn{
    padding: 7px;
    color: #69727E;
}
.unactive-category-btn:hover{
    color: #13181B;
    padding: 7px;
}

