.sticky-div {
    box-sizing: border-box;
    background-color: #FEFEFE;
    position: sticky;
    top: 0px;
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2)
}

.search{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.search:focus {
    border: 3px solid #2B3A55
  }
  
.navigationBar{
    margin-left: 10xp;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
.active-link{
    color:#2B3A55;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.active-link:hover{
    color:#2B3A55
}
.unactive-link{
    color: #69727E;
}
.unactive-link:hover{
    color: #2B3A55
}

.active-category-btn{
    
    padding: 10px;
    border-bottom: 2px solid #2B3A55;
    color: #2B3A55;
    font-weight: bold; 
    margin: 10px;
   
}
.active-category-btn:hover{
    padding: 10px;
    color: #2B3A55;
    font-weight: bold; 
}
.unactive-category-btn{
    padding: 10px;
    color: #2B3A55;
    font-weight: bold; 
    margin: 10px;
}
.unactive-category-btn:hover{
    color: #2B3A55;
    font-weight: bold; 
    
}

.navbar{
    float: right;
}
.getStarted{
    padding: 10px;
    background-color: #2B3A55;
    color: #F2E5E5;
    border-radius: 5px;
    margin: 15px;
}
.getStarted:hover{
    padding: 10px;
    color: #F2E5E5;
}
.logoHeader{
    padding: 10px;
    margin: 15px;
}

.btnSelectLogin{
    width: 100%;
    padding: 18px 10px;
    box-sizing: border-box;
    border: none;
    font-weight: bold;
    color: #69727E;
}
.btnSelectLogin:hover{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #2B3A55;
    color: #F2E5E5;
}
.signup_btn{
    border-style: groove;
    border-radius: 5px;
    padding: 10px 20px ;
    font-weight: bold;
}
.signup_btn:hover{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #2B3A55;
    color: #F2E5E5;
    border-radius: 5px;
}
.canvas{
    border-style: none;
    background-color: white;
}

/* Responsive design --- FOOTER*/
.container_footer{
    background-color: #2B3A55;
    padding: 15px;
}
.container_footer h3{
    color: #F2E5E5;
    font-size: 30px;
}
.container_footer p{
    color: #F2E5E5;
}
.container_footer input{
    padding: 8px 20px;
    border: none;
}
.container_footer button{
    color: #2B3A55;
    font-weight: bold;
    border: none;
    padding: 8px 9px;
}
.social_footer{
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #5476b7;
}
.social_footer h3{
    color: #F2E5E5;
    font-weight: normal;
    font-size: 1.6rem;
}
.icon{
    margin-left: 20px;
    width: 40px;
    height: auto;
    margin-top: 10px;
}
.icon:hover{
    color: #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
}
.contact_footer{
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #5476b7;
}
.contact_footer h3{
    color: #F2E5E5;
    font-weight: normal;
    font-size: 1.6rem;
}
.contact_footer p{
    color: #F2E5E5;
}
.copyright_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2E5E5;
    padding: 5px;
}
.copyright_footer span {
    font-weight:400;
    color: #2B3A55;
}
/* ##### Contact form ##### */
.contact_form form{
    display: grid;
}
.contact_form textarea{
    height: 5.5rem;
}
.contact_form form input{
    border: solid 1px rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 10px;
}
.contact_form label{
    color: #F2E5E5;
    font-weight: 500;
}
.preferred_method{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 1fr);
}
.preferred_method p{
    grid-column: span 3;
}
div.signup_newsletter{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact_form form button{
    padding: 10px;
    font-weight: bold;
    font-size: 17px;
}


@media screen and (min-width: 768px){
    .contact{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .container_footer{
        grid-column: 1 / 4;
        padding-bottom: 30px;
    }
    .contact_footer h3,.contact_footer p{
        max-width: 700px;
    } 
    .social_footer{
        grid-column: 4 / 7;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact_footer{
        background-color: #c1cfe9;
    }
    .contact_footer p, .contact_footer h3{
        color: #2B3A55;
    }
    /* ##### contact form ##### */
    .contact_form{
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(3, auto);
    }
    .contact_form form{
        grid-column: 2 / 3;
    }
}



