.btnDefault{
    width: 100%;
    padding: 18px 10px;
    background-color: #2B3A55;
    color: #F2E5E5;
    font-weight: bold;
    box-sizing: border-box;
    border: none;
}
.loginOR{
    width: 100%;
    padding: 18px 10px;
    box-sizing: border-box;
    border: none;
    font-weight: bold;
    color: #69727E;
}
.loginOR:hover{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #2B3A55;
    color: #F2E5E5;
}
.inpuInactive{
    display: block;
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 3px solid #ccc;;
    outline: none;
}
.inpuInactive:focus{
    border: 3px solid #2B3A55;
}
.btnSelection{
    background-color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 2px solid #2B3A55;
    font-weight: bold;
    color: #69727E;
    outline: none;
}
.btnSelection:hover{
    background-color: #2B3A55;
    color: #ccc;
}

/* SIGN UP IMPORTANT */
.important{
    color: red;
    font-weight: bold;
}